{% extends 'base.twig' %}

{% block content %}
<div class="entry-list">
  {# Display each blog #}
  {% for blog in posts %}
  <article>
    <h2><a href="blogs/{{ blog.slug }}">{{ blog.title }}</a></h2>
    <time datetime="{{blog.date}}">{{ blog.date |date("F j, Y \\a\\t g:i") }} </time>
  </article>
  {# if no blogs are found, prompt user to create one #}
  {% else %}
  <h2>No Blog Posts Found! <a href="/blogs/new">Let's go create one!</a></h2>
  {% endfor %}

</div>
{% endblock %}