{% extends 'base.twig' %}

{% block content %}
<div class="entry-list">
  {# Display each blog #}
  {% for blog in blogs %}
  <article>
    <h2><a href="blogs/1">The best day I’ve ever had</a></h2>
    <time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</time>
  </article>
  {# if no blogs are found, prompt user to create one #}
  {% else %}
  <h2>No Blog Posts Found! <a href="/blogs/new">Let's go create one!</a></h2>
  {% endfor %}

</div>
{% endblock %}